#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;

}

#good-dog-filter {
  margin-top: 1vh;
  width: 35vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 3em;
}

#dog-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dog-bar span {
  height: 40%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 1px solid rgb(103, 161, 194);
}

#dog-bar  :hover {
  background-color: rgb(242, 250, 253);
  color: rgb(45, 137, 212)

}

#dog-summary-container {
  height: 75vh;
  text-align: center;
}

#dog-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dog-info img {
  max-width: 75vw;
  max-height: 25vw;
}

body {
  margin: 0;
}
